<div class="card border-0 shadow-sm mb-3" style="width: 100%; max-width: 900px; margin: auto; border-radius: 10px;">
  <div class="card-header" style="background-color: #f8f9fa; border-bottom: 1px solid #e1e1e1; padding: 15px;">
    <h4 class="m-0" style="font-weight: bold; color: #333;">Listado de clientes</h4>
  </div>
  <div class="card-body" style="padding: 20px;">
     
    <div *ngIf="clientes?.length==0" class="alert alert-info">
      No hay registros en la base de datos
    </div>

    <table class="table table-hover table-striped" *ngIf="clientes.length>0" style="border-radius: 10px;">
      <thead style="background-color: #f1f1f1; font-weight: 600; color: #555;">
        <tr>
          <th>id</th>
          <th>nombres</th>
          <th>apellidos</th>
          <th>email</th>
          <th>fecha de creacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of clientes">
          <td>{{ element.id }}</td>
          <td>{{ element.nombre }}</td>
          <td>{{ element.apellido }}</td>
          <td>{{ element.email }}</td>
          <td>{{ element.createAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
